<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dbms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sirianswers"></activity>
        <activity android:name=".ShowData" />
        <activity android:name=".displayanswers" />
        <activity android:name=".agriculture" />
        <activity android:name=".Education" />
        <activity android:name=".health_care" />
        <activity android:name=".finance" />
        <activity android:name=".keer_QA" />
        <activity android:name=".keer_resp_details" />
                <activity android:name=".QBSelect" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>